# ddrive
DDRIVE_ENCRYPT_PASSWORD=   # set a random string to enable encryption

# Gokapi
# GOKAPI_PORT=53842
# TZ=UTC

# Cloudflare Tunnel (optional)
# GOKAPI_USE_CLOUDFLARE=true
CLOUDFLARED_TUNNEL_TOKEN=
